<template name="imageSelector">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Choose Your Image:</label>
          <div class="row">
            <div class="col-xs-12">
              <a class="image-type btn" data-image="https://s3.amazonaws.com/tsm-signature/tsm-sig.jpg">Original Image</a>
              <a class="image-type btn" data-image="https://s3.amazonaws.com/tsm-signature/tsm-sig-halloween.jpg">Halloween Theme</a>
              <a class="image-type btn" data-image="https://s3.amazonaws.com/tsm-signature/tsm-sig-fall.jpg">Thanksgiving Theme</a>
              <a class="image-type btn" data-image="https://s3.amazonaws.com/tsm-signature/tsm-sig-feb-hearts.jpg">February Heart Theme</a>
              <a class="image-type btn" data-image="https://s3.amazonaws.com/tsm-signature/tsm-sig-feb-simple.jpg">February Simple Theme</a>
              <a class="image-type btn" data-image="https://s3.amazonaws.com/tsm-signature/tsm-sig-march-simple.jpg">March Theme</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
