<template name="sigForm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="nameInput">Your Name: *</label>
                <input id="nameInput" class="form-control" name="myName">
              </div>
              <div class="form-group">
                <label for="positionInput">Your Position: *</label>
                <input id="positionInput" class="form-control" name="myTitle">
              </div>
              <div class="form-group">
                <label for="officeNumberInput">Your Office Number:</label>
                <input id="officeNumberInput" class="form-control" name="myOfficeNumber">
              </div>
              <div class="form-group">
                <label for="mobileNumberInput">Your Mobile Number:</label>
                <input id="mobileNumberInput" class="form-control" name="myMobileNumber">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="faxNumberInput">Your Fax Number:</label>
                <input id="faxNumberInput" class="form-control" name="myFaxNumber">
              </div>
              <div class="form-group">
                <label for="skypeNameInput">Your Skype Username:</label>
                <input id="skypeNameInput" class="form-control" name="mySkypeName">
              </div>
              <div class="form-group">
                <label for="ichatNameInput">Your iChat Username:</label>
                <input id="ichatNameInput" class="form-control" name="myIChatName">
              </div>
              <div class="form-group">
                <label for="linkedInInput">Your LinkedIn URL: (use http: or https:)</label>
                <input id="linkedInInput" class="form-control" name="linkedInInput">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
